.Icon
	display: inline-block
	size: 1.6em
	fill: currentColor
	vertical-align: middle

	&.-small
		size: 1.6em*0.618

	&.-large
		size: 1.6em*1.5

	&.-staff
		color: colors.staff
	&.-admin
		color: colors.admin
	&.-mod
		color: colors.mod
	&.-subscriber
		color: colors.subscriber

	&.-cheer
		border-radius: 3px
	&.-cheer-1
		color: colors.cheer1
		background: colors.cheer1bg
	&.-cheer-100
		color: colors.cheer100
		background: colors.cheer100bg
	&.-cheer-1000
		color: colors.cheer1000
		background: colors.cheer1000bg
	&.-cheer-5000
		color: colors.cheer5000
		background: colors.cheer5000bg
	&.-cheer-10000
		color: colors.cheer10000
		background: colors.cheer10000bg
	&.-cheer-100000
		color: colors.cheer100000
		background: colors.cheer100000bg
