.tga
	viewersBoxSize = 180px

	display: flex
	align-items: stretch
	size: tga.width 100%
	z-index: 1
	color: #444
	background: colors.background
	transition: left tga.transition.duration tga.transition.easing

	.bar
		flex-shrink: 0
		height: barSize
		color: colors.dark

	.viewers
		display: flex
		flex-flow: column
		flex-shrink: 0
		width: viewersBoxSize
		min-height: 200px

		.bar
			display: flex

		.search
			flex: 1
			display: flex

		input
			flex: 1
			width: 100%
			height: barSize
			color: colors.dark
			border: 0
			margin: 0
			padding: 0 0 0 1em
			font-family: monospace
			font-size: 1.1em
			background: transparent
			outline: none

		.cancel
			display: flex
			justify-content: center
			align-items: center
			height: barSize
			padding: 0 0.6em
			color: colors.light
			cursor: pointer

			&:hover
				color: colors.danger

		.count
			display: flex
			align-items: center
			justify-content: center
			min-width: 22px
			padding: 0 12px
			color: #fff
			font-size: 18px
			font-weight: bold
			text-align: center
			background: colors.dark
			border-bottom: 1px solid colors.darker

	.primary
		flex: 1
		display: flex
		flex-flow: column
		align-items: stretch
		width: s('calc(100% - %s)', viewersBoxSize)

		.bar
			display: flex
			justify-content: flex-end
			align-items: center
			padding: 0 0 0 1px

			.button
				position: relative
				display: flex
				justify-content: center
				align-items: center
				padding: 0 8px
				min-width: 45px
				height: 100%
				color: colors.dark
				border: 0
				background: none
				cursor: pointer
				transition: background 100ms ease-out

				&:hover
					background: colors.lighter

				&.active
					color: colors.background
					background: lighten(colors.primary, 15)

				&.profile
					flex-shrink: 1

				.label
					flex-shrink: 1
					display: inline-block
					margin: 0 2px 0 5px
					line-height: 24px
					overflow: ellipsis

				.new
					size: 10px
					relative: top 7px left 2px
					margin-left: -@width
					background: colors.success
					border: 2px solid colors.background
					border-radius: 50%

					&:after
						content: ''
						size: 16px
						absolute: left 50% top 50%
						margin: (-@height / 2) 0 0 (-@width / 2)
						border: 1px solid colors.success
						border-radius: 50%
						animation: pulsate 2s ease-out infinite