.btn
	position: relative
	display: inline-flex
	align-items: center
	justify-content: center
	height: 2.5em
	padding: 0 .7em
	line-height: 1
	color: colors.dark
	background: transparent
	border: 1px solid colors.light
	cursor: pointer
	&:hover
		color: colors.background
		background: colors.light
	&:active
		background: colors.grey

.btn-primary
	color: colors.primary
	border-color: colors.primary
	&:hover
		background: colors.primary
	&:active
		border-color: colors.primaryDark
		background: colors.primaryDark

.btn-info
	color: colors.info
	border-color: colors.info
	&:hover
		background: colors.info
	&:active
		border-color: colors.infoDark
		background: colors.infoDark

.btn-success
	color: colors.success
	border-color: colors.success
	&:hover
		background: colors.success
	&:active
		border-color: colors.successDark
		background: colors.successDark

.btn-warning
	color: colors.warning
	border-color: colors.warning
	&:hover
		background: colors.warning
	&:active
		border-color: colors.warningDark
		background: colors.warningDark

.btn-danger
	color: colors.danger
	border-color: colors.danger
	&:hover
		background: colors.danger
	&:active
		border-color: colors.dangerDark
		background: colors.dangerDark