// used to space out groups in flex flow
.spacer
	flex: 1 1

// centered uppercase gray italic title
.divider
	display: flex
	justify-content: center
	font-size: 1em
	margin: spacing 0 0
	padding: 0
	text-transform: uppercase
	font-style: italic
	color: colors.light

// colors
.color-primary
	color: colors.primary

.color-primary-dark
	color: colors.primaryDark

.color-info
	color: colors.info

.color-info-dark
	color: colors.infoDark

.color-success
	color: colors.success

.color-success-dark
	color: colors.successDark

.color-warning
	color: colors.warning

.color-warning-dark
	color: colors.warningDark

.color-danger
	color: colors.danger

.color-danger-dark
	color: colors.dangerDark

.color-darker
	color: colors.darker

.color-dark
	color: colors.dark

.color-grey
	color: colors.grey

.color-light
	color: colors.light

.color-lighter
	color: colors.lighter