.option
	display: flex
	flex-flow: row wrap
	font-size: 13px

	label
		display: inline-block
		width: 130px
		font-weight: 600
		margin: 0
		padding-right: 5px
		color: colors.dark
		cursor: pointer

	input,
	select,
	textarea
		margin: 0
		padding: .5em
		font-family: monospace
		font-size: .9em

	textarea
		flex: 1
		height: 80px
		vertical-align: top
		margin: -(spacing) 0
		border-width: 0 0 0 1px
		resize: none
		outline: 0

	input[type=range]
		width: 140px
		margin-bottom: -2px
		padding: 0

	.checkbox
		cursor: pointer
		margin: -3px 10px 0 0
		color: colors.grey
		transition: color 100ms linear

		&.checked
			color: colors.success

	.meta
		margin-left: 1em
		text-align: center

	.description
		display: block
		width: 100%
		margin: 0.6em 0
		color: colors.grey
		font-size: 0.9em
		font-style: italic
		font-weight: normal

		&.sameline
			width: auto
			margin-top: 0

		&:last-child
			margin-bottom: 0

	&.disabled
		opacity: .4