.section.about
	padding: 0 spacing

	.card
		.title
			margin-bottom: .5em
		.lead
			margin-top: .5em
		.emblem
			color: colors.primary

	fieldset
		font-size: 12px
		margin-top: 0

	legend
		font-size: 14px

	ul li
		list-style: disc

	.begging
		margin-top: 2em

	.sponsorship
		margin-bottom: 1.2em

		p
			margin: .8em 0
			padding: 0

	.faq
		overflow-x: hidden