.section.bitcoin
	padding: spacing
	text-align: center

	.qr
		max-width: 300px
		margin: 0 auto 1em
		background: url('bitcoin.png') no-repeat center center
		background-size: contain

		&:before
			display: block
			content: ''
			padding-bottom: 100%

	.address
		display: inline-block
		padding: .5em .7em
		background: colors.lightest