.section.config
	padding: 0 spacing

	article
		margin: 0
		padding: spacing 0
		border-bottom: 1px solid #eee

		&:last-child
			border: 0

	.active-timeout input[type="range"]
		flex: 1
		width: 120px