.section.profile
	display: flex
	flex-flow: column

	.messages
		flex: 1
		display: flex
		flex-flow: column
		justify-content: space-between
		margin-left: spacing

		.title
			display: flex
			justify-content: space-between
			align-items: center
			height: 35px
			margin: 0
			font-size: 1em
			color: colors.grey
			border-bottom: 1px solid colors.lighter
			overflow: hidden

		.count
			color: colors.light
			font-style: italic

		.clock
			display: flex
			height: 100%
			margin-right: 10px
			line-height: 1
			align-items: flex-start
			font-size: 2.1em
			font-weight: normal

			.colon
				margin-top: 2px
				line-height: 1
				font-size: 0.9em
				opacity: .5

			&.paused
				color: colors.success

		.list
			flex: 1
			list-style: none
			margin: 0
			padding: 0
			overflow: auto
			overflow-x: hidden
			animation-delay: 300ms
			background: scrollshadows

			li
				display: flex
				margin: 0
				padding: .3em 0

				&:last-child
					margin-bottom: .5em

				&:hover
					background: colors.lightest

			.time
				flex: 0 0 auto
				order: 2
				margin: 3px .5em 0
				color: colors.light
				font-size: .8em

			.content
				flex: 1 1 auto
				order: 1

				.emoticon
					vertical-align: middle