fontSize = 14px
barSize = 50px
spacing = fontSize

tga = {
	width: 570px,
	transition: {
		duration: 300ms,
		easing: ease-out
	}
}

colors = {
	background: #fff,

	primary: #6441A5,
	primaryLight: #b9a3e3,
	primaryDark: #512F8F,

	success: #3CBC8D,
	successLight: #F0FBE3,
	successDark: #687F42,

	info: #57ACFF,
	infoLight: #D9EDF7,
	infoDark: #1E90FF,

	warning: #F9B420,
	warningLight: #FFFAED,
	warningDark: #9A7E26,

	danger: #E9422E,
	dangerLight: #FBE9E6,
	dangerDark: #A1513C,

	twitch: #6441A5,
	twitchLight: #b9a3e3,

	paypalDark: #002f86,
	paypalLight: #009cde,
	bitcoin: #f7931a,

	darker: #222,
	dark: #555,
	grey: #888,
	light: #bbb,
	lighter: #f2f2f2,
	lightest: rgba(200,200,200,.1),

	staff: #6441A5,
	admin: #E47565,
	mod: #3CBC8D,
	subscriber: #D67FBE,

	cheer1: #242424,
	cheer1bg: #cbc8d1,
	cheer100: #292142,
	cheer100bg: #c97eff,
	cheer1000: #1b3134,
	cheer1000bg: #3dd8b4,
	cheer5000: #002c4e,
	cheer5000bg: #48acfe,
	cheer10000: #5f1707,
	cheer10000bg: #ff271f,
	cheer100000: #840700,
	cheer100000bg: #fdca0e
}